.main {
  background-color: red;
}

.displays {
  background-color: blue;
  display: flex;
}

.pokedex {
  background-color: green;
  width: 50%;
}

.team {
  background-color: fuchsia;
  width: 50%;
  display: flex;
  flex-direction: column;
}
