.main {
  background-image: url('https://silviahartmann.com/background-tile-art/images/gray-background-repeating-2.jpg');
  background-repeat: repeat;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

button {
  background-color: #7c7c7c;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

input {
  outline: none;
}

/* ---------------------------------------------------------- */

  header {
    background-color:#ccc;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  header > span {
    margin: 0px 130px;
  }

  /* ---------------------------------------------------------- */

  .displays {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: space-between;
  }

/* ---------------------------------------------------------- */

    .pokedex {
      background-color: lightcoral;
      border: 2px solid #ccc;
      border-radius: 15px;
      height: 80vh;
      width: 25vw;
      display: flex;
      justify-content: center;
      align-self: center;
      margin: 0 auto;
      overflow: auto;
    }

    .pokemon {
      background-color: rgb(228, 81, 81);
      border-radius: 15px;
      width: 24vw;
      display: flex;
      align-items: center;
      margin: 5px;
    }

    .one {
      width: 20vw;
    }

    .two {
      width: 20vw;
    }

    .three {
      width: 20vw;
    }

    .sprite-image > img {
      max-height: 50px;
    }

    /* ---------------------------------------------------------- */

    .poke-finder {
      background-color: lightcoral;
      border: 2px solid #ccc;
      border-radius: 15px;
      height: 45vh;
      width: 25vw;
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
    }

    .form {
      height: 5vh;
      width: 20vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
    }

    .found-pokemon {
      background-color: rgb(228, 81, 81);
      border-radius: 15px;
      height: 33vh;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .found-image > img {
      max-height: 25vh;
      height: 25vh;
    }

/* ---------------------------------------------------------- */

    .team {
      background-color: lightcoral;
      border: 2px solid #ccc;
      border-radius: 15px;
      height: 80vh;
      width: 25vw;
      display: flex;
      align-self: center;
      justify-content: center;
      margin: 0 auto;
      overflow: auto;
    }

    .teammate {
      background-color: rgb(228, 81, 81);
      border-radius: 15px;
      width: 20vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px 50px;
    }

    .teammate > * {
      margin: 2px;
    }

    .edit-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .edit-inputs > input {
      margin: 2px;
    }

    .edit-inputs > button {
      margin: 1px;
    }

    .teammate > button {
      margin: 2px;
    }

    .image > img {
      background-color: lightcoral;
      border-radius: 15px;
      max-width: 250px;
      width: 15vw;
      margin: 5px;
    }
